<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KTJGMRW');</script>
        <!-- End Google Tag Manager -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <link href="/css/video-js.css" rel="stylesheet" type="text/css"/>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

        <!-- Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-97201642-1', 'auto');
  ga('send', 'pageview');
</script>

    </head>
    <body>



        <header class="navbar-fixed-top" id="header">

            <div class="brand">
                <ul>
                    <li><a target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland.png" alt="Timberland"></a></li>
                   
                    <li class="txt">WALK  INTO A NEW EXPERIENCE</li>
                </ul>
            </div>

            <div class="mainMenu">

                <a class="logo visible-xs" target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland.png" alt="Timberland"></a>

                <div class="navbar-toggle" data-toggle="collapse" data-target=".menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                
            </div>
        </header>


        <section id="intro" role="main">
            <div class="section" style="background-image: url(/media/header.jpg)">

                <div class="caption centered">
                    <h1>FLEX IN THE CITY</h1><br><br><br><br>
                    <h2>GEWINNEN SIE EINE REISE NACH NEW YORK</h2>
                </div>

          

                <div class="logo flex-white">
                    <img src="/media/logo-flex-white.png" alt="">
                </div>

            </div>
        </section>
        <div class="container">


            

            <section id="store">
                
                <div class="row">
                    <div class="col-lg-6 no-padding item image">
                        <img src="/media/sensorlex.jpg">
                        <a target="_blank" href="https://www.timberland.at/treehouse/sensorflex-technology.html">ERFAHREN SIE MEHR ÜBER SENSORFLEX</a>
                    </div>
                    <div class="col-lg-6 no-padding item text">
                        <div class="verical-centered">
                            <div class="centered">
                                <h2>DAS PREISAUSSCHREIBEN IST BEENDET</h2>
                                <p>Wenn Sie der glückliche Gewinner sind, 
                                werden wir Sie in Kürze kontaktieren!</p>
                                
                            </div>
                        </div>
                    </div>



                </div>



            </section>


            


           
        <div class="footer-image">
            <img src="/media/footer.jpg">
        </div>


        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo item">
                        <a target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland-large.png" alt="Timberland"></a>
                    </div>
                    <div class="col-md-3 social item">
                        <h1>FOLLOW US</h1>
                        <ul class="social-icon">
                            <li><a target="_blank" href="https://www.instagram.com/timberland_eu" class="icon-instagram"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/TimberlandEU/" class="icon-facebook"></a></li>
                            <li><a target="_blank" href="https://twitter.com/Timberland_EU" class="icon-twitter"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/c/timberland" class="icon-youtube"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 regolamento item">
                        <div class="copy verical-centered">
                            <div class="bottom">
                                <a target="_blank" href="/media/pdf/terms-and-conditions.pdf">ALLGEMEINE TEILNAHMEBEDINGUNGEN UND INFORMATIONEN ZU DEM GEWINNSPIEL</a> TIMBERLAND ® 2017 all right reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




        




        <script src="/js/scripts.min.js"></script>
{% include "public/form-scripts.twig" %}
    </body>
</html>
