<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <link href="/css/video-js.css" rel="stylesheet" type="text/css"/>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

        <!-- Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97201642-1', 'auto');
  ga('send', 'pageview');

</script>

    </head>
    <body>



        <header class="navbar-fixed-top" id="header">

            <div class="brand">
                <ul>
                    <li><a target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland.png" alt="Timberland"></a></li>
                   
                    <li class="txt">WALK  INTO A NEW EXPERIENCE</li>
                </ul>
            </div>

            <div class="mainMenu">

                <a class="logo visible-xs" target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland.png" alt="Timberland"></a>

                <div class="navbar-toggle" data-toggle="collapse" data-target=".menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav class="collapse menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <ul>
                        <li><a class="page-scroll" href="#intro">PREISAUSSCHREIBEN</a></li>
                        <li><a class="page-scroll" href="#ny">GEWINNEN SIE EINE REISE NACH NEW YORK</a></li>
                        <li><a class="page-scroll" href="#estrazione">NEHMEN SIE AN DER VERLOSUNG TEIL</a></li>
                        <li><a class="page-scroll" href="#store">UNSERER FILIALEN</a></li>
                        <li><a class="page-scroll" href="#eventi">EVENTS IM STORE</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section id="intro" role="main">
            <div class="section" style="background-image: url(/media/header.jpg)">

                <div class="caption centered">
                    <h2>NEHMEN SIE AM PREISAUSSCHREIBEN<br>FLEX IN THE CITY</h2>
                    <h1>GEWINNEN SIE EINE <br>
                    REISE NACH NEW YORK</h1>
                </div>

          

                <div class="logo flex-white">
                    <img src="/media/logo-flex-white.png" alt="">
                </div>

            </div>
        </section>
        <div class="container">


            <section id="ny">

                <div class="row no-full-width intro">
                    <div class="col-md-6 item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <p>Mit <strong>Sensorflex</strong> können Sie eine viertägige Reise <br>
                                nach New York  <strong>für zwei Personen gewinnen</strong>.
                                <br> Besuchen Sie die Metropolis par excellence,
                                <br> die Stadt, die nie schläft.</p>
                                <h1>BEREITEN SIE SICH <br>FÜR DIE REISE VOR</h1>
                                <p>Entdecken Sie jede Ecke vom Big Apple<br> und freuen Sie sich auf ein exklusives Hotel in New Yorks Meatpacking District.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 item">
                        <img src="/media/media-1.jpg">
                    </div>
                </div>


                <div class="row first">
                    <div class="col-md-offset-1 col-md-11 no-padding">
                        <img src="/media/media-2.jpg">
                    </div>
                </div>


                <div class="row no-full-width second">
                    <div class="col-md-5 col-md-offset-1 item">
                        <img src="/media/media-3.jpg">
                    </div>
                    <div class="col-md-6 entry item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <h1 class="underline">STANDARD HIGH LINE HOTEL</h1>
                                <p>Erkunden Sie mit Timberland das pulsierende <br>
                                   Herz der Stadt. Schlendern Sie die High Line entlang<br>  
                                   und stürzen Sie sich in die authentischsten <br>
                                   und trendigsten Stadteile New Yorks.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row image-left third">
                    <div class="col-md-offset-1 col-md-11">
                        <img src="/media/media-4.jpg">
                    </div>

                </div>

            </section>

            <section id="estrazione">
                <div class="entry">
                    <h1 class="underline">NEHMEN SIE AN DER VERLOSUNG TEIL</h1>
                    <p>Registrieren Sie sich sofort und nehmen Sie an der Verlosung teil.<br>
                        Geben Sie Ihre Daten ein und versuchen Sie 4 Tage in New York zu gewinnen.</p>
                </div>

              
                 {% include "public/form.twig" with {redirect : '/pages/danke'} %}
                
                
                
{#                 <form>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Nome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Cognome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Città</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>E-mail</label>#}
{#                             <input type="email" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Telefono</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Data di Nascita</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Sesso</label>#}
{#                             <div class="wrapper-radio">#}
{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c1" name="cc" checked required />#}
{#                                     <label for="c1"><span></span>Maschio</label>#}
{#                                 </div>#}

{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c2" name="cc" required />#}
{#                                     <label for="c2"><span></span>Femmina</label>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}


{#                     <div class="row privacy">#}
{#                         <div class="col-md-10 col-md-offset-1">#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Dichiaro di aver preso visione dell’<a target="_blank" href="/media/pdf/FlexinthecityInformativa.pdf">informativa sul trattamento dei dati</a> e di accettare il <a target="_blank" href="/media/pdf/FlexinthecityRegolamento.pdf">regolamento</a> del concorso*</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento all’utilizzo dei miei dati da parte di VF Italia Srl e VF Italy Retail srl, per finalità di marketing, promozionali, analisi di mercato e profilazione.</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento alla comunicazione dei miei dati alle società del gruppo VF International, quali VF Italia, le  legal entities delle altre country e i partner franchisee, per finalità promozionali e di marketing delle stesse.</label>#}
{#                             </div>#}
{#                             <p>*Campo obbligatorio</p>#}
{#                         </div>#}
{#                     </div>#}

{#                     <button id="submit" type="submit">REGISTRATI</button>#}

{#                 </form>#}

            </section>

            <section id="store">
                <div class="entry">
                    <h1 class="underline">BESUCHEN SIE EINE UNSERER FILIALEN</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 no-padding item image">
                        <img src="/media/sensorlex.jpg">
                        <a target="_blank" href="https://www.timberland.at/treehouse/sensorflex-technology.html">ERFAHREN SIE MEHR ÜBER SENSORLEX</a>
                    </div>
                    <div class="col-lg-6 no-padding item text">
                        <div class="verical-centered">
                            <div class="centered">
                                <h2>ERLEBEN SIE SENSORFLEX™</h2>
                                <p>MACHEN SIE MIT BEIM FLEX IN THE CITY 
                                <br>GEWINNSPIEL ONLINE ODER INSTORE.</p>
                                <a href="#" data-toggle="modal" data-target="#search-store">ENTDECKEN SIE ALLE TEILNEHMENDEN STORES</a>

                            </div>
                        </div>
                    </div>



                </div>



            </section>


            <section id="eventi">
                <div class="entry">
                    <h1 class="underline">EVENTS IM STORE</h1>
                </div>

                <div class="row">
                    <div class="col-lg-6 no-padding item">
                        <div class="video-wrapper">
                            <video
                                id="v1"
                                class="video-js vjs-16-9 vjs-default-skin "
                                controls 

                                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=KGc9Lk4fb6U"}]}'
                                >
                            </video>
                            <a class="video-play" data-target="v1" href="#"><span class="icon-play"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 no-padding item">
                        <div class="entry verical-centered">
                            <div class="centered">
                                <p>Erleben Sie Sensorflex. Ziehen Sie <br>Ihr Lieblingsmodell an und probieren Sie</p>
                                <h1>FLEX IN THE CITY</h1>
                                <p>das fantastische interaktive Erlebnis, bei dem Sie
                                <br> eine virtuelle Stadt erkunden können. Entdecken Sie 
                                <br>wie es sich anfühlt, von morgens bis abends 
                                <br> bequeme Schuhe zu tragen.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <div class="sensorflex">
                <div class="title">
                    <h1>TESTEN SIE DAS ERLEBNIS IN UNSEREN STORES</h1>
                </div>
                 <section class="row">
                    <div class="col-sm-offset-4 col-sm-4 item">
                        <div class="wrapper">
                            LINZ<br>
                            Hauptplatz 23<br>
                            
                            <div class="date">19-20 mai</div>
                        </div>
                    </div>
                    


                </section>
            </div>


                </section>
            </div>

        </div>
        <div class="footer-image">
            <img src="/media/footer.jpg">
        </div>


        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo item">
                        <a target="_blank" href="https://www.timberland.at/"><img src="/media/logo-timberland-large.png" alt="Timberland"></a>
                    </div>
                    <div class="col-md-3 social item">
                        <h1>FOLLOW US</h1>
                        <ul class="social-icon">
                            <li><a target="_blank" href="https://www.instagram.com/timberland_eu" class="icon-instagram"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/TimberlandEU/" class="icon-facebook"></a></li>
                            <li><a target="_blank" href="https://twitter.com/Timberland_EU" class="icon-twitter"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/c/timberland" class="icon-youtube"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 regolamento item">
                        <div class="copy verical-centered">
                            <div class="bottom">
                                <a target="_blank" href="/media/pdf/terms-and-conditions.pdf">ALLGEMEINE TEILNAHMEBEDINGUNGEN UND INFORMATIONEN ZU DEM GEWINNSPIEL</a> TIMBERLAND ® 2017 all right reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




        <div class="modal  fade" id="search-store" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>ALLE TEILNEHMENDEN STORES</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                     <div id="stores-list">
    
<div class="store"> <strong>	Linz	</strong> <br>	Hauptplatz 23	<br> </div>
<div class="store"> <strong>	Wien	</strong> <br>	Trattnerhof 2   <br> </div>
    
</div>

                        <div id="stores-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="/js/scripts.min.js"></script>
{% include "public/form-scripts.twig" %}
    </body>
</html>




