{% extends "layout.twig" %}
{% block menu %}
    {% include "admin/menu-admin.twig" %}
{% endblock %}


{% block body %}
<div class="mt20">
<h3>{% if item %}Edit Locations #{{ item.id }} {% else %}Create New Location {% endif %}</h3>
	{% include "admin/location_form.twig" %}
</div>
<div class="mt20">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in locations %}
			<tr>
				<th scope="row">{{ item.id }}</th>
				<td>{{ item.name }}</td>
				<td><a href="/admin/location/edit/id/{{ item.id }}">edit</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}