<form role="form" autocomplete="off" method="post">

	<input type="hidden" name="id" value="{{ item.id }}">

	<div class="mt20">{% include "snippets/field.twig" with {name: 'name', label: 'Name', selectedvalue : item.name, required : true} %}</div>
	<div class="mt20">
		<button type="submit" class="btn btn-block btn-success">{% if item %}Edit{% else %}Create{% endif %} Store</button>
		<div class="text-center">
			<a href="/admin/stores">or cancel</a>
		</div>
	</div>


</form>


