<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <link href="/css/video-js.css" rel="stylesheet" type="text/css"/>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

        <!-- Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97206685-1', 'auto');
  ga('send', 'pageview');

</script>

    </head>
    <body>



        <header class="navbar-fixed-top" id="header">

            <div class="brand">
                <ul>
                    <li><a target="_blank" href="https://www.timberland.co.uk/"><img src="/media/logo-timberland.png" alt="Timberland"></a></li>
                    
                    <li class="txt">WALK  INTO A NEW EXPERIENCE</li>
                </ul>
            </div>

            <div class="mainMenu">

                <a class="logo visible-xs" target="_blank" href="https://www.timberland.co.uk/"><img src="/media/logo-timberland.png" alt="Timberland"></a>

                <div class="navbar-toggle" data-toggle="collapse" data-target=".menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav class="collapse menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <ul>
                        <li><a class="page-scroll" href="#intro">CONTEST</a></li>
                        <li><a class="page-scroll" href="#ny">WIN A TRIP TO NEW YORK</a></li>
                        <li><a class="page-scroll" href="#estrazione">ENTER THE DRAW</a></li>
                        <li><a class="page-scroll" href="#store">VISIT OUR STORES</a></li>
                        <li><a class="page-scroll" href="#eventi">IN STORE EVENTS</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section id="intro" role="main">
            <div class="section" style="background-image: url(/media/header.jpg)">

                <div class="caption centered">
                    <h2>PARTICIPATE IN THE CONTEST<br>FLEX IN THE CITY</h2>
                    <h1>WIN A TRIP TO<br>NEW YORK</h1>
                </div>

          

                <div class="logo flex-white">
                    <img src="/media/logo-flex-white.png" alt="">
                </div>

            </div>
        </section>
        <div class="container">


            <section id="ny">

                <div class="row no-full-width intro">
                    <div class="col-md-6 item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <p>With <strong>Sensorflex</strong> you can win a fantastic<br> <strong>four-day stay for two people in New York</strong>, <br>the metropolis par excellence,<br> a city that is ever on the move.</p>
                                <h1>GET READY FOR DEPARTURE</h1>
                                <p>Explore every corner of the Big Apple <br>and enjoy a holiday in one of the most <br>exclusive hotels of the Meatpacking District.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 item">
                        <img src="/media/media-1.jpg">
                    </div>
                </div>


                <div class="row first">
                    <div class="col-md-offset-1 col-md-11 no-padding">
                        <img src="/media/media-2.jpg">
                    </div>
                </div>


                <div class="row no-full-width second">
                    <div class="col-md-5 col-md-offset-1 item">
                        <img src="/media/media-3.jpg">
                    </div>
                    <div class="col-md-6 entry item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <h1 class="underline">STANDARD HIGH LINE HOTEL</h1>
                                <p>Roam the beating heart of the city with Timberland. <br>Take a stroll along the High Line and allow the most trendiest <br>and genuine New York to fascinate you.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row image-left third">
                    <div class="col-md-offset-1 col-md-11">
                        <img src="/media/media-4.jpg">
                    </div>

                </div>

            </section>

            <section id="estrazione">
                <div class="entry">
                    <h1 class="underline">ENTER THE DRAW</h1>
                    <p>Register immediately to participate in the draw.<br>
                        Enter your details and try to win 4 days in New York.</p>
                </div>

                {% include "public/form.twig" %}
                
                
                
{#                 <form>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Nome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Cognome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Città</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>E-mail</label>#}
{#                             <input type="email" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Telefono</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Data di Nascita</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Sesso</label>#}
{#                             <div class="wrapper-radio">#}
{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c1" name="cc" checked required />#}
{#                                     <label for="c1"><span></span>Maschio</label>#}
{#                                 </div>#}

{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c2" name="cc" required />#}
{#                                     <label for="c2"><span></span>Femmina</label>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}


{#                     <div class="row privacy">#}
{#                         <div class="col-md-10 col-md-offset-1">#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Dichiaro di aver preso visione dell’<a target="_blank" href="/media/pdf/FlexinthecityInformativa.pdf">informativa sul trattamento dei dati</a> e di accettare il <a target="_blank" href="/media/pdf/FlexinthecityRegolamento.pdf">regolamento</a> del concorso*</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento all’utilizzo dei miei dati da parte di VF Italia Srl e VF Italy Retail srl, per finalità di marketing, promozionali, analisi di mercato e profilazione.</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento alla comunicazione dei miei dati alle società del gruppo VF International, quali VF Italia, le  legal entities delle altre country e i partner franchisee, per finalità promozionali e di marketing delle stesse.</label>#}
{#                             </div>#}
{#                             <p>*Campo obbligatorio</p>#}
{#                         </div>#}
{#                     </div>#}

{#                     <button id="submit" type="submit">REGISTRATI</button>#}

{#                 </form>#}

            </section>

            <section id="store">
                <div class="entry">
                    <h1 class="underline">VISIT OUR STORES</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 no-padding item image">
                        <img src="/media/sensorlex.jpg">
                        <a target="_blank" href="https://www.timberland.co.uk/treehouse/sensorflex-technology.html">EXPLORE SENSORLEX</a>
                    </div>
                    <div class="col-lg-6 no-padding item text">
                        <div class="verical-centered">
                            <div class="centered">
                                <h2>PURCHASE A SENSORFLEX MODEL<br> IN STORE</h2>
                                <p>AND FIND OUT INSTANTLY WHETHER YOU HAVE <br>WON ONE OF THE FANTASTIC PRIZES.</p>
                                <a href="#" data-toggle="modal" data-target="#search-store">FIND ALL STORES PARTICIPATING IN THE EVENT</a>

                            </div>
                        </div>
                    </div>



                </div>



            </section>


            <section id="eventi">
                <div class="entry">
                    <h1 class="underline">IN STORE EVENTS</h1>
                </div>

                <div class="row">
                    <div class="col-lg-6 no-padding item">
                        <div class="video-wrapper">
                            <video
                                id="v1"
                                class="video-js vjs-16-9 vjs-default-skin "
                                controls 

                                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=KGc9Lk4fb6U"}]}'
                                >
                            </video>
                            <a class="video-play" data-target="v1" href="#"><span class="icon-play"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 no-padding item">
                        <div class="entry verical-centered">
                            <div class="centered">
                                <p>Put on your favourite Sensorflex and try</p>
                                <h1>FLEX IN THE CITY</h1>
                                <p> the fantastic interactive experience that will<br> throw open the gates of a virtual city for you. <br>Savour the pleasure of comfortable feet <br>from morning till night.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <div class="sensorflex">
                <div class="title">
                    <h1>TRY THE EXPERIENCE IN THESE STORES</h1>
                </div>
                <section class="row">
                    <div class="col-sm-4 item">
                        <div class="wrapper">
                            LONDON<br>
                            144 Regent Street<br>                           
                            <div class="date">20th -21st april</div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="wrapper">
                            LONDON <br>
                            Westfield London  <br>
                            Shopping Centre<br>
                            <div class="date">22nd - 23rd april</div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="wrapper">
                            GRAYS <br>
                            Thurrock Lakeside<br>
                            Shopping Centre<br>
                            <div class="date">29th - 30th april</div>
                        </div>
                    </div>
                </section>
                
                
                <section class="row">
                    <div class="col-sm-4 col-sm-offset-2 item">
                        <div class="wrapper">
                            LONDON<br>
                            Brent Cross <br>
                            Shopping Centre<br>                           
                            <div class="date">6th - 7th may</div>
                        </div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="wrapper">
                            MILTON KEYNES<br>
                            Central Milton Keynes<br>
                            Shopping Centre<br>
                            <div class="date">13th - 14th may</div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <div class="footer-image">
            <img src="/media/footer.jpg">
        </div>


        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo item">
                        <a target="_blank" href="https://www.timberland.co.uk/"><img src="/media/logo-timberland-large.png" alt="Timberland"></a>
                    </div>
                    <div class="col-md-3 social item">
                        <h1>FOLLOW US</h1>
                        <ul class="social-icon">
                            <li><a target="_blank" href="https://www.instagram.com/timberland_eu" class="icon-instagram"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/TimberlandEU/" class="icon-facebook"></a></li>
                            <li><a target="_blank" href="https://twitter.com/Timberland_EU" class="icon-twitter"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/c/timberland" class="icon-youtube"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 regolamento item">
                        <div class="copy verical-centered">
                            <div class="bottom">
                                <a target="_blank" href="/media/pdf/terms-and-conditions.pdf">Complete regulation</a> TIMBERLAND ® 2017 all right reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




        <div class="modal  fade" id="search-store" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>STORES PARTICIPATING IN THE EVENT</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div id="stores-list">
    
<div class="store"> <strong>	Bath</strong> <br>	Unit SU32<br> Southgate Place	<br> </div>
<div class="store"> <strong>	Birmingham </strong> <br>Bullring Shopping Centre	<br> </div>
<div class="store"> <strong>	Bluewater</strong> <br>Lower Guild Hall<br>Bluewater Greenhithe Kent	<br> </div>
<div class="store"> <strong>	Bristol </strong> <br>Cribbs Causeway	<br> </div>
<div class="store"> <strong>	Bromley	</strong> <br>	intu Bromley<br> High Street<br> </div>
<div class="store"> <strong>	Cambridge</strong> <br>Unit 4 PETTY CURY	<br> </div>
<div class="store"> <strong>	Cardiff  </strong> <br>Bridge Street Arcade<br>11 St David’s Way<br> </div>
<div class="store"> <strong>	Glasgow  </strong> <br>	91, Buchanan Street<br> </div>
<div class="store"> <strong>	Kingston upon Thames </strong> <br>	"The Bentall Centre<br>Wood Street<br> </div>
<div class="store"> <strong>	Lakeside</strong> <br>unit 332<br> Upper Level Lakeside, Grays	<br> </div>
<div class="store"> <strong>	Leicester</strong> <br>Highcross Shopping Centre<br> </div>
<div class="store"> <strong>	London</strong> <br> Brent Cross Shopping Centre<br> </div>
<div class="store"> <strong>	London</strong> <br>158 Oxford Street <br> </div>
<div class="store"> <strong>	London</strong> <br>144 Regent Street<br> </div>
<div class="store"> <strong>	London</strong> <br>Westfield London Shopping Centre <br> Ariel Way<br> </div>
<div class="store"> <strong>	Manchester</strong> <br>Unit L30 <br>Arndale Shopping Center<br> </div>
<div class="store"> <strong>	Milton Keynes</strong> <br>Central Milton Keynes Shopping Centre<br> </div>
<div class="store"> <strong>	Padstow	</strong> <br>	3 North Quay	<br> </div>
<div class="store"> <strong>	Southampton</strong> <br>Unit SU39<br>WestQuay Shopping Centre<br> </div>
<div class="store"> <strong>	Stratford</strong> <br>143 The Street<br>Westfield Stratford City <br>Montfichet Road<br> </div>
<div class="store"> <strong>	Watford	</strong> <br>Retail Store Unit 08<br> </div>
<div class="store"> <strong>	Windsor	</strong> <br>17 King Edward Court<br> </div>

    
</div>

                        <div id="stores-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="/js/scripts.min.js"></script>
{% include "public/form-scripts.twig" %}
    </body>
</html>




