<label class="radio-inline">
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ value }}" {% if selectedvalue == value %}checked="checked" {% endif %}  {% if required %} required {% endif %}> {{ label }}
</label>
