<select name="{{ name }}" class="form-control {% if autosubmit %}autosubmit{% endif %}" {% if required %}required{% endif %}>
<option value="">{{ label | default('Select') }}</option>
{% for item in items %}<option {% if selectedvalue == item.id %} selected="selected"{% endif %} value="{{ item.id }}">{{ item.label }}</option>{% endfor %}
</select>