{% extends "layout.twig" %}
{% block stylesheets %}
<link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
<div><a href="/admin">admin</a></div>
<div><a href="/hostess">hostess</a></div>
{% endblock  %}