{% extends "layout.twig" %}
{% block stylesheets %}
<link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
<div class="list-group">
<a class="list-group-item text-center" href="/admin">Admin Login</a>
<a class="list-group-item text-center" href="/hostess">Hostess Login</a>
</div>

<div class="list-group mt20">
<a class="list-group-item text-center" href="http://france.timberland.app">France</a>
<a class="list-group-item text-center" href="http://jp.timberland.app">Japan</a>
<a class="list-group-item text-center" href="http://timberland.app">Development</a>
</div>
{% endblock  %}