<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/dist/css/main.css">
{% block stylesheets %} {% endblock %}
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

    {% block menu %}
    {% include "snippets/menu-hostess.twig" %}
    {% endblock %}
	
    
	<div class="container mt20">
	
	{% block flashmessages %}
	{% include "snippets/flashmessages.twig" %}
	{% endblock %}
	
    {% block body %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">{% block title %}{% endblock %}</h3>
					</div>
					<div class="panel-body">{% block content %} {% endblock %}</div>
				</div>
			</div>
		</div>

	{% endblock %}
	</div>


<script type="text/javascript" src="/dist/js/main.js"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
