{% extends "layout.twig" %}

{% block flashmessages %}
	{% endblock %}
	


{% block title %}{{ event.label }}{% endblock %}

{% block content %}
<p>Insert here client’s data to subscribe to the contest</p>

<div class="mt20">

{% include "lead_form.twig" with {redirect : '/pages/grazie'} %}

</div>
{% endblock %}
