{% extends "graphic-layout.twig" %}

{% block flashmessages %}
{% endblock %}
	


{% block title %}{{ event.label }}{% endblock %}

{% block content %}
<div class="container mt20" style="padding-top: 30px; padding-bottom: 30px;">
	<div class="col-md-8 col-md-offset-2">
	<section id="estrazione">
	{% include "lead_form.twig" with {redirect : '/hostess/register'} %}
	</section>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/dist/js/main.js"></script>
{% endblock %}

