
{# http://1000hz.github.io/bootstrap-validator/#validator-markup#}
<style>

.registerform .mt20{
	margin-top: 20px;
}
.registerform .mt40{
	margin-top: 40px;
}
</style>

<form id="register" method="post" class="registerform" action="#register" data-toggle="validator">


	{% include "snippets/csfr.twig" %}
	
    {% block flashmessages %}
	{% include "snippets/flashmessages.twig" %}
	{% endblock %}

    {% if not event_id %}
    
    {% include "snippets/alert.twig" with {text : 'You must specify an event', class : 'danger'} %}
    {% endif %}

	<input type="hidden" name="event_id" value="{{ event_id }}">

	<div class="row">
		<div class="col-md-6">{% include "snippets/field.twig" with {name: 'name', label: 'Name', required : true, placeholder: 'Insert Name', selectedvalue : item.name} %}</div>
		<div class="col-md-6">{% include "snippets/field.twig" with {name: 'surname', label: 'Surname', required : true, placeholder: 'Insert Surname', selectedvalue : item.surname} %}</div>
	</div>

	<div class="row">
		<div class="col-md-12">{% include "snippets/field.twig" with {name: 'email', label: 'Email', type: 'email', required : true, placeholder: 'Insert Email', selectedvalue : item.email} %}</div>
	</div>

	<div class="row">
		<div class="col-md-4">{% include "snippets/field.twig" with {name: 'day', label: 'Day', required : true, selectedvalue : item.day, placeholder: '28', extra: 'pattern=^[0-9]{2}$'} %}</div>
		<div class="col-md-4">{% include "snippets/field.twig" with {name: 'month', label: 'Month', required : true, selectedvalue : item.month, placeholder: '01', extra: 'pattern=^[0-9]{2}$'} %}</div>
		<div class="col-md-4">{% include "snippets/field.twig" with {name: 'year', label: 'Year', required : true, selectedvalue : item.year, placeholder: '2000', extra: 'pattern=^[0-9]{4}$'} %}</div>
	</div>

	<div class="row mt20">
		<div class="col-md-2">
			<label>Gender</label>
		</div>
		<div class="col-md-10">
		  {% include "snippets/radio.twig" with {name: 'gender', required : true, selectedvalue : item.gender, options : [{value : 'm',label : 'Male'},{value : 'f',label : 'Female'}] } %}
		</div>
	</div>

	<!-- privacy policy -->
	<div class="row mt40">
		<div class="col-sm-12 col-md-8">
			<a data-toggle="modal" data-target="#privacyModal" href="javascript:;">Accept privacy policy</a>
		</div>
		<div class="col-sm-12 col-md-4">
		      {% include "snippets/radio.twig" with {name: 'pp', required : true, selectedvalue : item.pp|default('y'), options : [{value : 'y',label : 'YES'},{value : 'n',label : 'NO'}] } %}
		</div>
	</div>


	<!-- terms and conditions -->
	<div class="row mt20">
		<div class="col-sm-12 col-md-8">
			<a data-toggle="modal" data-target="#termsModal" href="javascript:;">Accept contect terms and conditions </a>
		</div>
		<div class="col-sm-12 col-md-4">
		      {% include "snippets/radio.twig" with {name: 'tc', required : true, selectedvalue : item.tc|default('y'), options : [{value : 'y',label : 'YES'},{value : 'n',label : 'NO'}] } %}
		</div>
	</div>


	<!-- marketing -->
	<div class="row mt20">
		<div class="col-sm-12 col-md-8">
			<a href="#">Signup for marketing and communication</a>
		</div>
		<div class="col-sm-12 col-md-4">
		      {% include "snippets/radio.twig" with {name: 'mkt', required : true, selectedvalue : item.mkt|default('y'), options : [{value : 'y',label : 'YES'},{value : 'n',label : 'NO'}] } %}
		</div>
	</div>

	<div class="row mt20">
		<div class="col-md-12">
		<button type="submit" class="btn btn-block btn-success">Register</button>
		</div>
	</div>


</form>


<!-- Terms and Conditions Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms And Conditions</h4>
      </div>
      <div class="modal-body">
        {% include "termsandconditions.twig" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Privacy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms And Conditions</h4>
      </div>
      <div class="modal-body">
        {% include "privacypolicy.twig" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



