{% extends "graphic-layout.twig" %}


{% block flashmessages %}
{% endblock %}


{% block content %}
<div class="entry">
	<h1>LA TUA REGISTRAZIONE È STATA RIMOSSA</h1>

	<a href="/">torna alla home</a>
</div>
{% endblock %}

