Ai sensi dell’art. 13 del D.Lgs 196/2003, Le comunichiamo che i dati personali da Lei forniti (di seguito i “Dati Personali”) tramite compilazione del form on line saranno trattati da VF ITALIA SRL (di seguito “ VF”) e/o altre società del Gruppo e/o primarie società terze incaricate da VF ed eventualmente nominata/e da VF  “responsabili per il trattamento dei dati” ai sensi del d.lgs. 196/2003. 

<p>Titolare del trattamento ai sensi del d.lgs. 196/2003 sarà VF ITALIA SRL.</p>

<p>I Suoi Dati Personali saranno trattati per provvedere alla consegna del premio eventualmente vinto a seguito della sua partecipazione al concorso “FLEX IN THE CITY”</p>

<p>Il conferimento dei dati e del consenso al loro trattamento è facoltativo, ma necessario per la realizzazione della suddetta finalità.</p>

<p>I Suoi dati personali non saranno forniti, comunicati o diffusi a terzi estranei alle società del Gruppo, fatta eccezione per primarie società terze incaricate da ed eventualmente nominate “responsabile per il trattamento dei dati” ai sensi del d.lgs. 196/2003 per il perseguimento delle finalità di cui sopra e/o per altre finalità alle quali Lei abbia espressamente acconsentito.</p>

<p>Il trattamento dei dati avverrà con gli strumenti e le modalità ritenute idonee a proteggere la sicurezza e la riservatezza dei dati personali, potrà essere effettuato sia manualmente sia attraverso l’ausilio di strumenti elettronici o comunque automatizzati e comprenderà tutte le operazioni previste dalla legge e necessarie al trattamento in questione.
Ove da Lei espressamente di seguito autorizzato, i Suoi dati personali potranno altresì essere trattati da e/o comunicati a primarie società terze eventualmente incaricate per (i) creazione di una banca dati consumatori, analisi di abitudini e scelte di consumo, analisi di mercato ed elaborazioni di dati a fini statistici e di profilazione e/o per (ii) invio di informazioni e materiale</p> promo-pubblicitario relativo ai prodotti commercializzati da VF, invio di newsletter e altre iniziative promozionali e di comunicazione commerciale, anche attraverso l’utilizzo del Suo indirizzo di posta elettronica o utenza di telefonia mobile o attraverso messaggi del tipo Mms (Multimedia Messaging Service) o Sms (Short Messaging Service).

<p>In ogni momento, ai sensi dell’art. 7, Lei potrà avere accesso ai Suoi dati, chiederne la modifica o la cancellazione, oppure opporsi al loro utilizzo scrivendo a:</p>

<p>VF ITALIA SRL, XXXXXXXXXXXX</p>