<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <link href="/css/video-js.css" rel="stylesheet" type="text/css"/>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

        <!-- Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>



        <header class="navbar-fixed-top" id="header">

            <div class="brand">
                <ul>
                    <li><a target="_blank" href="https://www.timberland.it/"><img src="/media/logo-timberland.png" alt="Timberland"></a></li>
                   
                    <li class="txt">WALK  INTO A NEW EXPERIENCE</li>
                </ul>
            </div>

            <div class="mainMenu">

                <a class="logo visible-xs" target="_blank" href="https://www.timberland.it/"><img src="/media/logo-timberland.png" alt="Timberland"></a>

                <div class="navbar-toggle" data-toggle="collapse" data-target=".menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav class="collapse menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <ul>
                        <li><a class="page-scroll" href="#intro">CONCOURS</a></li>
                        <li><a class="page-scroll" href="#ny">GAGNEZ NEW YORK</a></li>
                        <li><a class="page-scroll" href="#estrazione">PARTICIPEZ AU TIRAGE AU SORT</a></li>
                        <li><a class="page-scroll" href="#store">VENEZ EN MAGASIN</a></li>
                        <li><a class="page-scroll" href="#eventi">EVENEMENTS EN MAGASIN</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section id="intro" role="main">
            <div class="section" style="background-image: url(/media/header.jpg)">

                <div class="caption centered">
                    <h2>PARTICIPEZ AU CONCOURS<br>FLEX IN THE CITY</h2>
                    <h1>GAGNEZ<br>NEW YORK</h1>
                </div>

          

                <div class="logo flex-white">
                    <img src="/media/logo-flex-white.png" alt="">
                </div>

            </div>
        </section>
        <div class="container">


            <section id="ny">

                <div class="row no-full-width intro">
                    <div class="col-md-6 item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <p>Avec <strong>Sensorflex</strong> vous pouvez gagner un voyage <br>fantastique <strong>de quatre jours pour deux personnes<br> à New York</strong>, la métropole par excellence,<br> une ville qui ne s’arrête jamais.</p>
                                <h1>PREPAREZ-VOUS A PARTIR</h1>
                                <p>Découvrez chaque coin de la Grosse Pomme<br> et séjournez dans l’un des hôtels<br> les plus exclusifs du Meatpacking District.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 item">
                        <img src="/media/media-1.jpg">
                    </div>
                </div>


                <div class="row first">
                    <div class="col-md-offset-1 col-md-11 no-padding">
                        <img src="/media/media-2.jpg">
                    </div>
                </div>


                <div class="row no-full-width second">
                    <div class="col-md-5 col-md-offset-1 item">
                        <img src="/media/media-3.jpg">
                    </div>
                    <div class="col-md-6 entry item">
                        <div class="verical-centered">
                            <div class="centered entry">
                                <h1 class="underline">STANDARD HIGH LINE HOTEL</h1>
                                <p>Explorer avec Timberland le cœur de la ville.<br> 
                                 Marchez le long de l’High Lineet immergez-vous <br> dans la New York la plus trendy et authentique.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row image-left third">
                    <div class="col-md-offset-1 col-md-11">
                        <img src="/media/media-4.jpg">
                    </div>

                </div>

            </section>

            <section id="estrazione">
                <div class="entry">
                    <h1 class="underline">PARTICIPEZ AU TIRAGE AU SORT</h1>
                    <p>Inscrivez-vous tout de suite et participez au tirage au sort.<br>
                        Entrez vos données et essayez de gagner 4 jours à New York.</p>
                </div>

                {% include "public/form.twig" %}
                
                
                
{#                 <form>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Nome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Cognome</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Città</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>E-mail</label>#}
{#                             <input type="email" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Telefono</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                         <div class="col-md-6">#}
{#                             <label>Data di Nascita</label>#}
{#                             <input type="text" />#}
{#                         </div>#}
{#                     </div>#}
{#                     <div class="row">#}
{#                         <div class="col-md-6">#}
{#                             <label>Sesso</label>#}
{#                             <div class="wrapper-radio">#}
{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c1" name="cc" checked required />#}
{#                                     <label for="c1"><span></span>Maschio</label>#}
{#                                 </div>#}

{#                                 <div class="cb">#}
{#                                     <input type="radio" id="c2" name="cc" required />#}
{#                                     <label for="c2"><span></span>Femmina</label>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}


{#                     <div class="row privacy">#}
{#                         <div class="col-md-10 col-md-offset-1">#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Dichiaro di aver preso visione dell’<a target="_blank" href="/media/pdf/FlexinthecityInformativa.pdf">informativa sul trattamento dei dati</a> e di accettare il <a target="_blank" href="/media/pdf/FlexinthecityRegolamento.pdf">regolamento</a> del concorso*</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento all’utilizzo dei miei dati da parte di VF Italia Srl e VF Italy Retail srl, per finalità di marketing, promozionali, analisi di mercato e profilazione.</label>#}
{#                             </div>#}
{#                             <div class="wrapper-radio">#}
{#                                 <label><input type="checkbox"> Acconsento alla comunicazione dei miei dati alle società del gruppo VF International, quali VF Italia, le  legal entities delle altre country e i partner franchisee, per finalità promozionali e di marketing delle stesse.</label>#}
{#                             </div>#}
{#                             <p>*Campo obbligatorio</p>#}
{#                         </div>#}
{#                     </div>#}

{#                     <button id="submit" type="submit">REGISTRATI</button>#}

{#                 </form>#}

            </section>

            <section id="store">
                <div class="entry">
                    <h1 class="underline">VENEZ EN MAGASIN</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 no-padding item image">
                        <img src="/media/sensorlex.jpg">
                        <a target="_blank" href="https://www.timberland.it/treehouse/sensorflex-technology.html">EXPLOREZ SENSORLEX</a>
                    </div>
                    <div class="col-lg-6 no-padding item text">
                        <div class="verical-centered">
                            <div class="centered">
                                <h2>ACHETEZ DANS UN MAGASIN <br> UN MODELE SENSORFLEX</h2>
                                <p>ET DECOUVREZ TOUT DE SUITE SI VOUS AVEZ<br> GAGNE L’UN DES PRIX FANTASTIQUES EN JEU.</p>
                                <a href="#" data-toggle="modal" data-target="#search-store">TROVA TUTTI GLI STORE ADERENTI</a>

                            </div>
                        </div>
                    </div>



                </div>



            </section>


            <section id="eventi">
                <div class="entry">
                    <h1 class="underline">EVENEMENTS EN MAGASIN</h1>
                </div>

                <div class="row">
                    <div class="col-lg-6 no-padding item">
                        <div class="video-wrapper">
                            <video
                                id="v1"
                                class="video-js vjs-16-9 vjs-default-skin "
                                controls 

                                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=KGc9Lk4fb6U"}]}'
                                >
                            </video>
                            <a class="video-play" data-target="v1" href="#"><span class="icon-play"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 no-padding item">
                        <div class="entry verical-centered">
                            <div class="centered">
                                <p>Enfilez vos Sensorflex préférés et essayez</p>
                                <h1>FLEX IN THE CITY</h1>
                                <p>l’expérience interactive fantastique   
                                <br> qui vousfera explorer une ville virtuelle. 
                                <br> Découvrez comment on se sent lorsque <br> l’on marche confortablement du matin au soir.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <div class="sensorflex">
                <div class="title">
                    <h1>ESSAYEZ L’EXPERIENCE DANS CES MAGASINS</h1>
                </div>
                <section class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <div class="wrapper">
                            VILLE<br>
                            Centro Commerciale<br>
                            ?<br>
                            <div class="date">dates</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="wrapper">
                            VILLE<br>
                            Centro Commerciale <br>
                            ?<br>
                            <div class="date">dates</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="wrapper">
                            VILLE<br>
                            Corso Giacomo Matteotti, 7 <br>
                            <div class="date">dates</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="wrapper">
                            VILLE<br>
                            Centro Commerciale <br>
                            ?<br>
                            <div class="date">dates</div>
                        </div>
                    </div>


                </section>
            </div>

        </div>
        <div class="footer-image">
            <img src="/media/footer.jpg">
        </div>


        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo item">
                        <a target="_blank" href="https://www.timberland.it/"><img src="/media/logo-timberland-large.png" alt="Timberland"></a>
                    </div>
                    <div class="col-md-3 social item">
                        <h1>FOLLOW US</h1>
                        <ul class="social-icon">
                            <li><a target="_blank" href="https://www.instagram.com/timberland_eu" class="icon-instagram"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/TimberlandEU/" class="icon-facebook"></a></li>
                            <li><a target="_blank" href="https://twitter.com/Timberland_EU" class="icon-twitter"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/c/timberland" class="icon-youtube"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 regolamento item">
                        <div class="copy verical-centered">
                            <div class="bottom">
                                <a target="_blank" href="/media/pdf/terms-and-conditions.pdf">Règlement complet</a> TIMBERLAND ® 2017 all right reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




        <div class="modal  fade" id="search-store" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>LES MAGASINS ADHERENTS</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="styled-select">

                            <select id="store-select">
                                <option>Choisissez une Région</option>
                            </select>
                        </div>

                        <div id="stores-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="/js/scripts.min.js"></script>
{% include "public/form-scripts.twig" %}
    </body>
</html>




